<h1> Listado de Victimas </h1>

<table class="table">

	<tr>
		<th> Nombre </th>
		<th> Edad </th>
		<th> Monstruo_id </th>
	</tr>

	<% victimas = Victima.all %>
	<% victimas.each do |victima| %>
		<tr>
			<td> <%= victima.nombre %> </td>
			<td> <%= victima.edad %> </td>
			<td> <%= victima.monstruo_id %> </td>
		</tr>
	<% end %>

</table>